div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:400px;
    height: 600px;
    background-color: gold;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 30;

}

img {
    width: 100px;
    height: 80px;
    margin: 20px;
    padding: 10px;
    background-color: rgb(255, 38, 0);
    border-radius: 60%;
}
